.form{
  margin: auto;
  margin-top:200px;
  height: 300px;
  width: 300px;
  border-radius: 3px;
  border:1px solid gray;
}
.left {
  margin-left:15px;
  margin-top:30px;
    }
.borbot{
  border-bottom:1px solid gray;
  width:150px;
  margin-bottom:5px;
    }
.inp{
  width:262px;
}